.panner {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: #e9edf1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 60px 0 60px;
}

.panner__text {
  width: 50%;
  margin-top: 65px;
}

.panner__text p {
  font-family: "Serif Text", serif;
  font-size: 20px;
  margin-bottom: 50px;
}

.text__header {
  font-family: "Bitter", serif;
  margin-bottom: 50px;
}

.panner__img {
  width: 50%;
}

.panner__btn {
  padding: 17px 25px;
  background-color: rgba(0, 128, 0, 0.726);
  display: inline;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

.panner__btn:hover {
  opacity: 3;
}

/* waa ka hoose */
.bg__panner {
  width: 100%;
  height: 471px;
  background-color: teal;
  text-align: center;
  color: white;
  background-image: url(../images/bg_panner.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg__panner h2 {
  font-family: "Bitter", serif;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.bg__button {
  padding: 12px 30px;
  font-size: 24px;
  display: inline;
  border-radius: 7px;
  border: 3px solid white;
  background-color: transparent;
  cursor: pointer;
}

.bg__button:hover {
  background-color: green;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  display: block;
  color: white;
}

ul {
  list-style-type: none;
}

.header {
  width: 100%;
  height: 50px;
  background-color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

.logo {
  width: 170px;
  margin-top: 15px;
}

.navlink ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navlink li a {
  padding: 8px;
  font-family: "Noto Serif KR", serif;
}

.navlink a:hover {
  color: white;
  background-color: black;
  border-radius: 8px;
}

.section {
  width: 100%;
  height: 392px;
  padding: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.section__item {
  width: 255px;
  height: 270px;
}

.item__image {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
}

.item__text {
  font-size: 21px;
}

/* dashboard */
.dashboard {
  width: 100%;
  height: 580px;
  padding: 30px;
}

.section_dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.dashboard__text {
  text-align: center;
  margin-bottom: 20px;
}

.dashboard__item {
  width: 292px;
  height: 480px;
  background-color: rgba(209, 209, 209, 0.562);
}

.d__item__image {
  width: 100%;
  height: 262px;
}

.more {
  padding: 20px;
}

.d__item__name {
  font-size: 24px;
}

.d__item__titel {
  margin: 10px 0;
  font-size: 12px;
  color: gray;
}

.d__item__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 22px;
  gap: 10px;
  text-align: center;
}

.icone {
  width: 40px;
  height: 40px;
  border: 3px solid gray;
  padding: 10px;
  color: gray;
  cursor: pointer;
}

.icone:hover {
  background-color: green;
}

.footer {
  margin-top: 60px;
  width: 100%;
  height: 800px;
  background-color: #212327;
  color: white;
  padding: 40px 60px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 75px;
}

.top__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.t__item__icone {
  width: 120px;
  height: 50px;
  margin-right: 10px;
  background-color: white;
  padding: 10px;
}

.footer h3 {
  margin-bottom: 10px;
}

.footer__btn {
  display: inline;
  width: 200px;
  padding: 15px 20px;
  font-size: 22px;
  border: 3px solid #343434;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.footer__btn:hover {
  background-color: white;
  color: black;
}

.footer__btn::after {
  content: "";
  width: 460px;
  background-color: #343434;
  height: 3px;
  position: absolute;
  left: 101%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer__btn::before {
  content: "";
  width: 460px;
  background-color: #343434;
  height: 3px;
  position: absolute;
  right: 101%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer__midle,
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  gap: 20px;
}

.m__item,
.b__item {
  width: 262px;
  height: 200px;
}

.m__item p {
  font-family: serif;
  color: #f0f0f0;
}

.b__item p {
  font-family: serif;
  color: #f0f0f0;
}

.m__titel,
.b__titel {
  font-family: serif;
}

.b__titel {
  margin-bottom: 20px;
  font-size: 23px;
}

.footer .contect {
  border: 3px solid #343434;
  padding: 8px 16px;
}

.footer .line {
  width: 1120px;
  height: 3px;
  background-color: #343434;
  margin: 0 auto;
}

.nav {
  font-family: "Noto Serif KR", serif;
}

.main {
  font-family: "Serif Text", serif;
}

.footer {
  font-family: "Bitter", serif;
}
/*# sourceMappingURL=main.css.map */